<!DOCTYPE html>
<html lang="en">
  <head th:replace="template.html :: header('EmployerDetail')"> </head>
  <body>
    <header th:insert="template.html :: topmenu"></header>
    <div class="container">
      <h2>Employer</h2>

      <table class="table" style="width: 70%">
        <tbody>
          <tr th:each="employers, iStat:${employers}"></tr>
            <th scope="row" style="with: 20%">EmployerName</th>
            <td th:text="${employers.name}" style="width: 80%">name</td>
          </tr>

          <tr>
            <th scope="row" style="with: 20%">Website</th>
            <td th:text="${employers.website}" style="width: 80%">website</td>
          </tr>
          <tr>
            <th scope="row" style="with: 20%">email</th>
            <td th:text="${employers.email}" style="width: 80%">email</td>
          </tr>
        </tbody>
      </table>
      <!-- <form

        th:action="@{/update/{id}(id=${employers.id})}"
        method="get"
        th:object="${employer}"
        style="width: 50%"
      >
        <input type="submit" class="btn btn-primary" value="Update">
      <form> -->
        <a th:href = "@{/employer/update/{id}(id=${employers.id})}"
						 class = "btn btn-primary">Update
        </a>
    
      <form
        
        th:action="@{${'delete/' + employers.id}}"
        method="get"
        th:object="${employer}"
        style="width: 50%"
      >
        <input type="submit" class="btn btn-primary" value="Delete">
      <form>
      
    </div>
  </body>
</html>
