<!DOCTYPE html>
<html lang="en">
  <head th:replace="template.html :: header('EmployerList')"> </head>
  <body>
    <header th:insert="template.html :: topmenu"></header>
    <div class="container">
      <p>EmployerList</p>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">STT</th>
            <th scope="col">Name</th>
            <th scope="col">website</th>
            <th scope="col">email</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="employers, iStat:${employers}">
            <th scope="row" th:text="${iStat.index} +1"></th>
            <td>
              <a
                th:href="|/employer/${employers.id}|"
                th:text="${employers.name}"
              ></a>
            </td>
            <td>
              <a
                th:href="${employers.website}"
                th:text="${employers.website}"
                target="_blank"
                >website</a
              >
            </td>
            <td th:text="${employers.email}">email</td>
            <td>
              <a
                th:href="@{/employer/update/{id}(id=${employers.id})}"
                class="btn btn-primary"
                ><i class="fas fa-user-edit ml-2"></i
              ></a>
            </td>
            <td>
              <a
                th:href="@{${'delete/' + employers.id}}"
                class="btn btn-primary"
                ><i class="fas fa-user-times ml-2"></i
              ></a>
            </td>
          </tr>
        </tbody>
      </table>

      <a th:href="@{/employer/add}" type="button" class="btn btn-primary">
        Employer_Add
      </a>
      <br />
    </div>
    <header th:replace="template.html :: footer"></header>
  </body>
</html>
