# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\MyPC\Desktop\techmaster\Java_SpringBoot_techmaster\Lesson_17_18_19_20_JPA\demojpa\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
