<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Tạo khóa học</title>

    <!-- Link google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&amp;display=swap"
        rel="stylesheet">

    <!-- Link bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Link icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer">

    <!-- Link select2 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />


    <!-- Link tự viết -->
    <link rel="stylesheet" th:href="@{/assets/css/style-admin.css}">
</head>

<body>
    <!--HEADER-->
    <div class="header d-flex align-items-center">
        <div class="container-fluid">
            <div class="d-flex justify-content-start align-items-center">
                <div class="logo">
                    <a th:href="@{/admin}">
                        <img src="https://techmaster.vn/resources/image/logo-techmaster/white/white_200x74.png" alt="logo">
                    </a>
                </div>
                <div class="menu">
                    <a class="text-white ms-5" th:href="@{/admin}">Danh sách khóa học</a>
                    <a class="text-white ms-3"  th:href="@{/admin/create}">Tạo khóa học</a>
                </div>
            </div>
        </div>
    </div>

    <!-- BODY -->
    <div class="course-list mt-4 mb-4">
        <div class="container">
            <div class="mb-4 d-flex justify-content-between">
                <div>
                    <button class="btn-custom btn-update-course" id="btn-update-course" >
                        <span><i class="fa-solid fa-plus"></i></span>
                        Cập nhật
                    </button>
                    <a th:href="@{/admin}" class="btn-custom btn-refresh">
                        <span><i class="fa-solid fa-angle-left"></i></span>
                        Quay lại
                    </a>
                </div>
                <div>
                    <button class="btn-custom bg-danger" id="btn-delete-course" >
                        <span><i class="fa-solid fa-trash-can"></i></span>
                        Xóa
                    </button>
                   
                </div>
            </div>

            <div class="course-list-inner p-2">
                <div class="row">
                    <div class="col-md-8">
                        <div class="mb-3">
                            <label for="course-name" class="form-label fw-bold">Tên khóa học</label>
                            <input type="text" class="form-control" id="course-name" th:value="${course.name}">
                        </div>
                        <div class="mb-3">
                            <label for="course-description" class="form-label fw-bold">Mô tả</label>
                            <textarea class="form-control" id="course-description" rows="10"
                            th:text="${course.description}"></textarea>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="course-type" class="form-label fw-bold" >Hình thức học</label>
                            <select class="form-control" id="course-type">
                                
                                    <option value="0" th:selected="${course.type}">Online</option>
                                    <option value="1" th:selected="${course.type}">Onlab</option>
                                </th:block>
                                 
                               
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="course-topic" class="form-label fw-bold">Chủ đề</label>
                            <select class="form-control" id="course-topic" name="topic" multiple="multiple">                            
                                <th:block th:each="topic :${topics}">
                                    <option  th:value="${topic.id}" th:text="${topic.name}">Backend</option>
                                </th:block>                         
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="course-supporter" class="form-label fw-bold">Tư vấn viên</label>
                            <select class="form-control" id="course-supporter">
                                <option hidden>- Chọn tư vấn viên</option>
                                <th:block th:each="supporter :${supporters}">
                                    <option  th:value="${supporter.id}" th:text="${supporter.name}"
                                     th:selected=" ${supporter.id}">nguyen van A</option>
                                </th:block>

                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="form-label fw-bold">Thumnail</label>
                            <div class="course-logo-preview mb-3 rounded">
                                <img id="course-logo-preview" class="rounded" th:src="${course.thumbnail}">
                            </div>

                            <label for="course-logo-input" class="btn btn-warning">Đổi ảnh
                                <input type="file" id="course-logo-input" class="d-none">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <th:block>
        <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- select2 -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script th:inline="javascript">
        // Lấy thông tin trả về từ backend để sử dụng trong javascript
       let course = [[${course}]];
       console.log(course);
       

        // Truy cập vào các thành phần
        const courseName = document.getElementById("course-name");
        const courseDescription = document.getElementById("course-description");
        const courseType = document.getElementById("course-type");
        const courseTopic = $("#course-topic");
        const courseSupporter = document.getElementById("course-supporter");
        const courseThumbnailPreview = document.getElementById("course-logo-preview");
        const courseImageInput = document.getElementById("course-logo-input");

        const btnUpdate = document.getElementById("btn-update-course");
        const deleteEl = document.getElementById("btn-delete-course");

        // Kích hoạt select2
        courseTopic.select2({
            placeholder: "- Chọn chủ đề",
        });

        // lay thong tin topic
        courseTopic.val(course.topics.map(e => e.id.toString())).trigger("change");
       

        // cap nhat khoa hoc
        btnUpdate.addEventListener("click", async () => {
            let topics = courseTopic.val();
            let topicsConvert = topics.map(e => Number(e));


            try {
                let res = await axios.put(`/admin/api/edit/${course.id}`, {
                    name : courseName.value,
                    description : courseDescription.value,
                    type : Number(courseType.value),
                    topics : topicsConvert,
                    supporter : courseSupporter.value
                })
                console.log(res);

                if(res.data) {
                    alert("Cập nhật khóa học thành công");
                    setTimeout(()=>{
                        window.location.href = `/admin`
                    }, 500)
                }
            } catch (e) {
                console.log(e);
            }
        })

        // xoa khoa hoc
         
        deleteEl.addEventListener("click", async function(){
            let isConfirm = confirm("Bạn có muốn xóa không?");
            let res = await axios.delete(`/admin/delete/${course.id}`);
            console.log(res.data);

            if(res.data) {
                alert("Xoa khoa hoc thành công");

                setTimeout(() => {
                    window.location.href = "/admin";
                }, 1000);
            }
        })
   // Upload file
        courseImageInput.addEventListener("change", async (event) => {
            try {
                const file = event.target.files[0];

                let formData = new FormData();
                formData.append("file", file);

                let res = await axios.post(`/admin/api/courses/${course.id}/upload-file`, formData)

                courseThumbnailPreview.src = res.data;
            } catch (error) {
                console.log(error);
            }
        })
       
       
    </script>

    </th:block>

    
</body>

</html>